
@import "src/styleguide/shared";
.company-information-container {
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
}
.content > div {
  width: 100%;
}
label {
  font-size: 12px;
  color: $color-black-3;
  margin-bottom: 2px;
}
:host ::ng-deep {
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 10px;
  }
  .mat-card {
    height: auto;
    min-width: 450px;
    padding: 25px 30px 30px;
    margin: 0 auto;
    > div {
      height: 100%;
    }
    h5 {
      margin-bottom: 5px !important;
      margin-left: -5px;
    }
    button.il-button {
      margin-top: 5px;
      max-width: 380px;
    }
  }
}