
@import "src/styleguide/shared";
.email-password-container {
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
}
.content > div {
  min-width: 380px;
}
label {
  font-size: 13px;
  color: $color-black-2;
  margin-bottom: 2px;
}
:host ::ng-deep {
  .mat-card {
    height: 295px;
    width: 450px;
    padding: 40px 30px 30px 30px;
    margin: 0 auto;
    > div {
      height: 100%;
    }
    h5 {
      margin-bottom: 20px !important;
    }
    button.il-button {
      margin-top: 5px;
      max-width: 380px;
    }
  }
}