<div [formGroup]="form" class="email-password-container" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div>
    <img class="logo" [src]="imgPath + 'logo.png'" />
  </div>
  <mat-card>
    <div class="content" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
      <h5>Administrator Email and Password</h5>
      <div>
        <div fxLayout="column">
          <label>{{ 'Email' }}</label>
          <il-input [form]="form" [hasBorder]="true" isFloatLabel="never" controlName="username" floatLabel="never"></il-input>
        </div>
        <div fxLayout="column">
          <label>{{ 'Password' }}</label>
          <il-input class="password" inputType="password" [form]="form" [hasBorder]="true" isFloatLabel="never" controlName="password" floatLabel="never"></il-input>
        </div>
      </div>

      <button (click)="onNext()" mat-flat-button class="il-button primary large" fxLayoutGap="5px">
        {{ 'NEXT' }}
      </button>
    </div>
  </mat-card>
</div>