
@import "src/styleguide/shared";
.email-password-container {
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
}
.content > div {
  min-width: 380px;
}
label {
  font-size: 13px;
  color: $color-black-3;
  margin-bottom: 2px;
}
:host ::ng-deep {
  .il-input input.mat-input-element {
    line-height: 20px;
    padding: 0 10px;
    top: 0.4px !important;
  }
  .mat-card {
    height: 280px;
    width: 450px;
    padding: 30px;
    margin: 0 auto;
    > div {
      height: 100%;
    }
    h5 {
      margin-bottom: 20px !important;
    }
    button.il-button {
      max-width: 380px;
    }
  }
}