
@import "src/styleguide/shared";
h1, h2, h3, h4, h5 {
  color: $color-blue;
}
.email-password-container {
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
}
.content {
  div {
    min-width: 380px;
  }
  .form-container {
    min-height: 280px;
  }
}
.pi-user-minus {
  font-size: 2rem;
  color: $color-black-2;
}
.not-invited {
  h3 {
    color: $color-black-2;
  }
}
label {
  font-size: 13px;
  color: $color-black-3;
  margin-bottom: 2px;
}
:host ::ng-deep {
  p-dropdown, .p-dropdown {
    width: 100%;
  }
  .p-inputtext {
    width: 100%;
  }
  .mat-card {
    height: 445px;
    width: 430px;
    padding: 30px;
    margin: 0 auto;
    > div {
      height: 100%;
    }
    h3 {
      margin-bottom: 15px !important;
    }
    button {
      margin-top: 5px;
    }
  }
}