@import "src/styleguide/shared";
h1, h2, h3, h4 {
  color: $color-blue;
}
h5 {
  color: $color-blue-1;
}
.users-information-container {
  padding-bottom: 150px;
}
.content {
  padding: 30px;
  background-color: $color-white;
  width: 850px;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 8%) !important;
  > div:not(:first-child) {
    margin: 30px 0 10px 0;
  }
}
.add-user {
  margin-top: 10px !important;
}
.pi-pencil, .pi-times {
  cursor: pointer;
  &:hover {
    color: $color-blue;
  }
}
.subscription-text {
  font-size: 12px;
  color: $color-black-2;
  i {
    margin-right: 4px;
  }
  .notice div {
    background-color: $color-yellow-2;
  }
}
:host ::ng-deep {
  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0;
  }
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0;
  }
  .mat-cell, .mat-footer-cell {
    font-size: 13px;
  }
  tr.mat-header-row {
    height: 35px;
  }
  .mat-header-row {
    th {
      &:first-child {
        width: 120px;
      }
      &:nth-child(2), &:nth-child(3) {
        width: 90px;
      }
      &:nth-child(4) {
        width: 100px;
      }
      &:nth-child(5) {
        width: 150px;
      }
      &:last-child {
        width: 70px;
      }
    }
  }
  .mat-table {
    width: 100%;
    margin-top: 25px;
    td {
      vertical-align: top;
      font-size: 12px;
      div {
        min-height: 30px;
        display: flex;
        align-items: center;
      }
      &:last-child > div {
        display: flex;
        align-items: center;
        align-content: center;
      }
    }
  }
  tr.mat-row, tr.mat-footer-row {
    height: 40px;
  }
}