<div [formGroup]="form" class="il-input" [ngClass]="{'center': isCenter}">
  <mat-form-field [ngClass]="{'has-border': hasBorder, 'read-only': isReadOnly, 'errors': hasError}" [floatLabel]="floatLabel">
    
    <input [ngClass]="{'errors': hasError}" [InputMaxLength]="inputMaxLen" matInput [formControlName]="controlName" [placeholder]="placeholder | translate" autocomplete="off" [readonly]="isReadOnly">

    <!-- <mat-error *ngIf="hasError" class="errors">{{ 'Invalid Field' | translate}}</mat-error> -->
  </mat-form-field>
</div>