<div *ngIf="!isSubmitted" class="review-container" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div>
    <img class="logo" src="https://rubucepo.sirv.com/Images/iaad/logo.png" />
  </div>
  <div class="content">
    <mat-card>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="center center">
          <h3>Review</h3>
        </div>
        <div class="email-password">
          <div class="row"><span>Email:</span> {{ getEmailPasswordStorageValues.username }}</div>
          <div class="row"><span>Password:</span> *****</div>
        </div>
        <div>
          <div class="personal-details" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="47">
              <label>{{ 'Firstname' }}</label>
              <div>{{ getGeneralInformationStorageValues.firstname }}</div>
            </div>
            <div fxFlex="47">
              <label>{{ 'Lastname' }}</label>
              <div>{{ getGeneralInformationStorageValues.lastname }}</div>
            </div>
            <div fxFlex="47">
              <label>{{ 'Phone Number' }}</label>
              <div>{{ getGeneralInformationStorageValues.phone_number }}</div>
            </div>
            <div fxFlex="47">
              <label>{{ 'Address' }}</label>
              <div>{{ getGeneralInformationStorageValues.address }}</div>
            </div>
          </div>

          <div class="company-details" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div fxFlex="47">
              <label>{{ 'Company Name' }}</label>
              <div>{{ getGeneralInformationStorageValues.company_name }}</div>
            </div>
            <div fxFlex="47">
              <label>{{ 'Address' }}</label>
              <div>{{ getGeneralInformationStorageValues.company_address }}</div>
            </div>
          </div>

          <div class="language" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxFlex="47">
              <label>{{ 'Language' }}</label>
              <div>{{ getSelectedLanguage }}</div>
            </div>
          </div>
        </div>

        <div *ngIf="!isUser" class="content">
          <h5>Users</h5>
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef> Username </th>
              <td mat-cell *matCellDef="let element"> {{element?.username}} </td>
            </ng-container>

            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef> Firstname </th>
              <td mat-cell *matCellDef="let element"> {{element?.profile?.firstname}} </td>
            </ng-container>
      
            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef> Lastname </th>
              <td mat-cell *matCellDef="let element"> {{element?.profile?.lastname}} </td>
            </ng-container>
            
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef> Roles </th>
              <td mat-cell *matCellDef="let element">
                <div fxLayout="row wrap" fxLayoutGap="5px">
                  <div *ngFor="let role of getStorageValue(element?.roles, 'roles')" class="badge default">{{ role?.label | titlecase }}</div>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="access">
              <th mat-header-cell *matHeaderCellDef> Access </th>
              <td mat-cell *matCellDef="let element">
                <div fxLayout="row wrap" fxLayoutGap="5px">
                  <div *ngFor="let role of getStorageValue(element?.access, 'access')" class="badge default">
                    {{ role?.label | titlecase }}
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
          </table>
        </div>

        <div class="btn-actions" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
          <button (click)="onPrev()" mat-flat-button class="il-button default large" fxLayoutGap="10px">
            {{ 'PREVIOUS' }}
          </button>
          <button [disabled]="!isFormValid" (click)="onSubmit()" mat-flat-button class="il-button primary large" fxLayoutGap="5px">
            {{ 'SUBMIT' }}
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>