@import "src/styleguide/shared";
h1, h2, h3, h4 {
  color: $color-blue;
}
h5 {
  color: $color-blue-1;
}
.personal-details, .company-details, .language {
  > div {
    margin-bottom: 8px;
    div {
      font-size: 14px;
      border: thin $color-gray-2 solid;
      border-radius: 2px;
      min-height: 33px;
      display: flex;
      align-content: center;
      align-items: center;
      padding: 0 7px;
    }
  }
}
h5 {
  margin-left: -5px;
}
.review-container {
  background-color: transparent;
  padding-bottom: 10px;
  padding-top: 50px;
}
.email-password {
  padding-bottom: 5px;
  border-bottom: thin $color-gray-3 solid;
  > div {
    margin-bottom: 0 !important;
  }
  span {
    font-size: 0.76rem;
    color: $color-gray-1;
  }
}
.row {
  font-size: 14px;
  padding: 5px;
}
label {
  font-size: 0.73rem;
  color: $color-black-3;
  font-weight: 400;
}
.content {
  div {
    width: 100%;
    margin-bottom: 5px;
  }
}
.btn-actions {
  margin-top: 15px;
}
:host ::ng-deep {
  .badge.default {
    width: fit-content !important;
  }
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    font-size: 0.79rem;
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0.75em;
  }
  .mat-table {
    width: 100%;
  }
  tr.mat-row, tr.mat-footer-row {
    height: 40px;
  }
  tr.mat-header-row {
    height: 35px;
  }
  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0;
  }
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0;
  }
  .mat-header-row {
    th {
      &:first-child {
        width: 30%;
      }
      &:nth-child(1) {
        width: 10%;
      }
      &:nth-child(2) {
        width: 10%;
      }
      &:nth-child(3) {
        width: 10%;
      }
      &:nth-child(4) {
        width: 15%;
      }
      &:nth-child(5) {
        width: 30%;
      }
    }
  }
  .mat-card {
    height: auto;
    max-width: 850px;
    min-width: 850px;
    padding: 25px 30px 30px 30px;
    margin: 0 auto;
    td {
      vertical-align: top;
      &:last-child > div {
        display: flex;
        align-items: center;
        align-content: center;
      }
    }
    > div {
      height: 100%;
    }
    button.il-button {
      width: 380px;
    }
  }
}