@import "src/styleguide/shared";
.page-not-found-container {
  padding-bottom: 150px;
}
.mat-card {
  min-height: 300px;
  width: 400px;
  div {
    height: 100%;
  }
}
.pi-home {
  font-size: 2rem;
  color: $color-black-2;
  cursor: pointer;
}