@import "src/styleguide/shared";
.users-information-container {
  
}
.content {
  padding: 20px;
  background-color: $color-white;
  width: 900px;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 8%) !important;
  > div {
    margin: 20px 0 10px 0;
  }
}
:host ::ng-deep {
  .mat-table {
    width: 100%;
  }
  tr.mat-row, tr.mat-footer-row {
    height: 40px;
  }
}