
@import "src/styleguide/shared";
.company-information-container {
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
}
.content > div {
  min-width: 380px;
}
label {
  font-size: 12px;
  color: $color-black-3;
  margin-bottom: 2px;
}
:host ::ng-deep {
  .mat-card {
    height: auto;
    width: 450px;
    padding: 40px 30px;
    margin: 0 auto;
    > div {
      height: 100%;
    }
    h4 {
      margin-bottom: 5px !important;
      margin-left: -5px;
    }
    button.il-button {
      margin-top: 5px;
      width: 100% !important;
      min-height: 35px;
      max-height: 35px;
      max-width: 380px;
    }
  }
}