@import "src/styleguide/shared";
.submission-table-container {
  padding-bottom: 150px;
}
.content {
  min-height: 500px;
  padding: 20px;
  background-color: $color-white;
  width: 900px;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 8%) !important;
  > div {
    margin: 20px 0 10px 0;
  }
}
.no-padding {
  padding: 5px !important;
}
.pi-ellipsis-v {
  cursor: pointer;
}
:host ::ng-deep {
  .p-badge {
    font-weight: 400;
  }
  .mat-table {
    width: 100%;
  }
  tr.mat-row, tr.mat-footer-row {
    height: 40px;
  }
}