
@import "src/styleguide/shared";
h1, h2, h3, h4, h5 {
  color: $color-blue;
}
.company-information-container {
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
  padding-top: 20px;
}
.content > div {
  width: 100%;
  &:last-child {
    padding-top: 10px;
  }
}
:host ::ng-deep {
  .p-dropdown .p-dropdown-label {
    width: 160px;
  }
  .p-multiselect {
    min-width: 199px;
    margin-top: 2px;
  }
  .mat-card {
    height: auto;
    min-width: 470px;
    padding: 33px 45px 35px;
    margin: 0 auto;
    > div {
      height: 100%;
    }
    h5 {
      margin-left: -5px;
    }
    button.il-button {
      margin-top: 5px;
      max-width: 380px;
    }
  }
}