<div class="company-information-container" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
  <div>
    <img class="logo" src="https://rubucepo.sirv.com/Images/iaad/logo.png" />
  </div>
  <mat-card>
    <div class="content" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutAlign="center center">
        <h3>General Information</h3>
      </div>

      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <div>
            <label>{{ 'Firstname' }}</label>
            <il-input [form]="getGeneralInformationForm" placeholder="Firstname" controlName="firstname" floatLabel="never"></il-input>
          </div>
          <div>
            <label>{{ 'Lastname' }}</label>
            <il-input [form]="getGeneralInformationForm" placeholder="Lastname" controlName="lastname" floatLabel="never"></il-input>
          </div>
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <div>
            <label>{{ 'Phone Number' }}</label>
            <il-input [form]="getGeneralInformationForm" placeholder="Phone Number" controlName="phone_number" floatLabel="never"></il-input>
          </div>
          <div>
            <label>{{ 'Address' }}</label>
            <il-input [form]="getGeneralInformationForm" placeholder="Address" controlName="address" floatLabel="never"></il-input>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <div>
            <label>{{ 'Company Name' }}</label>
            <il-input [form]="getGeneralInformationForm" placeholder="Company Name" controlName="company_name" floatLabel="never"></il-input>
          </div>
          <div>
            <label>{{ 'Address' }}</label>
            <il-input [form]="getGeneralInformationForm" placeholder="Company Address" controlName="company_address" floatLabel="never"></il-input>
          </div>
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="start start">
        <il-dropdown-select label="Language" [form]="getGeneralInformationForm" controlName="language" [options]="languageOptions"></il-dropdown-select>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
        <button (click)="onPrev()" mat-flat-button class="il-button default large" fxLayoutGap="5px">
          {{ 'PREVIOUS' }}
        </button>
        <button [disabled]="!getGeneralInformationForm.valid" (click)="onNext()" mat-flat-button class="il-button primary large" fxLayoutGap="5px">
          {{ 'NEXT' }}
        </button>
      </div>
    </div>
  </mat-card>
</div>